$icon-font-path: "bower_components/bootstrap-sass-official/assets/fonts/";
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

<% if (includeFontAwesome) { %>
$fa-font-path: '../../bower_components/fontawesome/fonts';
@import 'bower_components/fontawesome/scss/font-awesome.scss';
<% } %>      
